node_modules
npm-debug.log
.env
.git
.gitignore
.DS_Store
dist
src
public
index.html
postcss.config.mjs
tailwind.config.mjs
tsconfig.json
tsconfig.node.json
vite.config.ts
supabase
utils
guidelines
ATTRIBUTIONS.md
